.toppart {
    display: flex; 
    margin-left: auto; 
    margin-right: auto; 
}

img {
    width: auto; 
    height: 200px;
}

.title { 
    text-align: center;
}

.userheading {
    text-align: center; 
}

.compheading {
    text-align: center; 
}

.scorecont {
    padding-top: 40px;  
    text-align: center; 
    padding-right: 60px; 
    padding-left: 60px; 
}

.buttoncon {
    text-align: center; 
    margin-left: auto; 
    margin-right: auto; 
}

.picandtextwhole {
    border-color: blue; 
}